body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 10px;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
}

button:hover {
    background-color: white;
    color: #333;
}

button:focus {
    outline: none;
}

.active {
    background-color: white;
    color: #333;
}

img {
    width: 600px; /* Set the width to 300 pixels */
    height: 400px; /* Set the height to 200 pixels */
}


.text_box {
  width: 600px;
  height: 400px;
}

.project_showcase {
  width: 600px;
  height: 400px;
  justify-content: center;
}

.project_content {
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}

.project_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.project_showcase {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
}
.project_showcase img {
  width: 400px;
  height: 250px;
}
.project_showcase .text_box {
  width: 400px;
  height: 250px;
}



